.nav__drop-down {
  min-width: 46px;
}

.nav__drop-down_close {
  transform: rotate(0deg);
  transition: transform 0.2s ease;
}

.nav__drop-down_open {
  transform: rotate(180deg);
  transition: transform 0.2s ease;
}
