.logo {
  width: 40px;
  height: 40px;
}

.title {
  width: 111px;
  height: 16px;
}

.linkedin {
  width: 18px;
  height: 19px;
}

.vk {
  width: 22px;
  height: 14px;
}

.instagram {
  width: 18px;
  height: 18px;
}

.facebook {
  width: 10px;
  height: 18px;
}

.arrow-menu {
  width: 24px;
  height: 24px;
  transition: all 0.2s ease;
}

.arrow-menu_active {
  width: 24px;
  height: 24px;
  transform: rotate(180deg);
  transition: all 0.2s ease;
}
