.logo {
  width: 40px;
  height: 40px;
}

.title {
  width: 111px;
  height: 16px;
}

.linkedin {
  width: 18px;
  height: 19px;
}

.vk {
  width: 22px;
  height: 14px;
}

.instagram {
  width: 18px;
  height: 18px;
}

.facebook {
  width: 10px;
  height: 18px;
}
