.header {
  min-height: 105px;
  padding: 32px 0 15px 0;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 58px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 495px;
  width: 100%;
}

.title {
  font-family: var(--font-bold);
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.1px;
  color: var(--main-dark);
}

@media (max-width: 960px) {
  .wrapper {
    max-width: 266px;
  }
}
