.aside {
  display: flex;
  flex-direction: column;
  max-width: 279px;
  width: 100%;
  height: auto;
  gap: 42px;
}

.nav-main {
  font-family: var(--font-bold);
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
}

.nav-main__list {
  display: flex;
  flex-direction: column;
  row-gap: 42px;
}

.nav-main__list-item {
  display: block;
  position: relative;
}
