.wrapper-nav {
  transition: all 0.5s ease;
  overflow: hidden;
  margin-top: 8px;
  padding-top: 16px;
  max-height: 1000px;
}

.wrapper-nav_hidden {
  padding-top: 0;
  margin-top: 0;
  max-height: 0;
  visibility: hidden;
}

.nav {
  font-family: var(--font-regular);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

.nav__category {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  padding-left: 20px;
}
